# Home Assistant Community Add-on: Plex Media Server

Your recorded media, live TV, online news, and podcasts, beautifully organized
and ready to stream.

## About

The plex add-on brings your favorite media together in one place, making it
beautiful and easy to enjoy. The Plex Media Server provided by this addon,
organizes your personal video, music, and photo collections
and streams them to all of your devices.

